:root {
  /* 
  --50: #f9f9fb;
  --100: #f4f2f7;
  --200: #e3dfea;
  --300: #d1cbdd;
  --400: #afa4c4;
  --500: #8d7daa;
  --600: #7f7199;
  --700: #6a5e80;
  --800: #554b66;
  --900: #453d53; */

  /* --50: #f9f9f9; 
    --100: #f4f2f4; 
    --200: #e3dfe3; 
    --300: #d1ccd2; 
    --400: #afa6b0; 
    --500: #8d808e; 
    --600: #7f7380; 
    --700: #6a606b; 
    --800: #554d55; 
    --900: #453f46; */

  --050: #fdfdfd;
  --100: #fbfafb;
  --200: #f5f4f5;
  --300: #eeedef;
  --400: #e2dfe2;
  --500: #d4ccd6;
  --600: #c0bcc1;
  --700: #a09da1;
  --800: #807d80;
  --900: #453f46;
}
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  color: var(--900);
  background-color: var(--500);

  font-family: sans-serif;
}
header {
  padding: 15px;
  background-color: var(--200);
  margin-bottom: 15px;
  box-shadow: 0 1px 20px var(--800);
  display: grid;
grid-template-columns: 8fr 100px;
  
}
header h1 {
  padding: 15px;
}
/* book card layout */
main#bookshelf {
  padding: 10px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.book {
  background-color: var(--300);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 10px 20px var(--800);
  min-height: 200px;
}

.title {
  font-size: 1.8rem;
  font-weight: 700;
  word-break: break-all;
  margin-bottom: 10px;
}
.author {
  font-size: 1.2rem;
  font-weight: 600;
  word-break: break-all;
  margin-bottom: 10px;
}
.author::before {
  content: "by ";
}
.pages::after {
  content: " pages";
}

/* the add book button */
.circleButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.circleButton {
  color: var(--800);
}
.circleButton:hover {
  color: var(--900);
  transform: scale(1.1);
}
.circle {
  border: 6px solid;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
.circleButton.book .circle {
  width: 90px;
  height: 90px;
  font-size: 80px;
}
.circleButton.circle p {
  font-size: 1.8rem;
}
header .circleButton .circle {
  border: 3px solid;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

/* form */
#form {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(3px);
}
#form.display-none{
  display: none;
}
.form-container {
  margin-top: 20px;
  border-radius: 20px;
  height: 500px;
  width: 400px;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr;
  background: var(--800);
  
  color: var(--100);
  overflow: hidden;
  
}
.form-header{
  font-size: 1.6rem;
  background:var(--900);
  display:grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 40px 1fr;
  grid-template-columns: 1fr 40px;
}
.form-header div{
 
  grid-area: 2/3/1/2;
  z-index: 1;
}
.form-header div:hover{
  transform: scale(1.4);
}
.form-header h1{
  grid-area: 1/1/3/3;
}

.form-container form{
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: repeat(7,1fr);
  padding: 20px;
}
.form-container form label,
.form-container .checkbox{
 align-self: center; 
}
.form-container input{
  font-size: 1.2rem;
}
.checkbox{
  display: flex;
  align-items: center;
  gap: 5px;
}
.checkbox input{
  width: 1.2rem;
  height: 1.2rem;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}
.buttons button{
  border: none;
  font-size: 1.3rem;
  color: var(--050);
  font-weight: 900;
}
#cancel-input{
  background-color:rgb(128, 0, 0);
}
#add-book{
  background-color: green;
}
#cancel-input:hover{
  background-color:red ;
}
#add-book:hover{
  background-color: rgb(120, 201, 0);
}


